# This is Git's per-user configuration file.
[user]
	email = {{ .email }}
	name = {{ .name }}
[core]
	pager = delta
	autocrlf = input

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[push]
	autoSetupRemote = true
