{{- $giteaAccessTokenAvailable := get . "gitea_access_token_available" | default false }}
{{- if $giteaAccessTokenAvailable }}
if GITEA_ACCESS_TOKEN="$(security find-generic-password -s "GITEA_ACCESS_TOKEN" -w -a "$(whoami)" 2>/dev/null)"; then
  export GITEA_ACCESS_TOKEN
else
  unset GITEA_ACCESS_TOKEN
fi
{{- end }}
