{{- $giteaAccessTokenSecret := get . "gitea_access_token_secret" | default "" }}
{{- if $giteaAccessTokenSecret }}
export GITEA_ACCESS_TOKEN="$(security find-generic-password -s {{ $giteaAccessTokenSecret | quote }} -w -a "$(whoami)")"
{{- end }}
